In [ ]:
# Cleaning up some of the USA data, namely the locations with coordinates of 0, 0

In [1]:
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime as dt

# reading CSV files to create dataframes
# df_confirmed = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

df_tMax = pd.read_csv('./csv/tMax_US.csv')
df_tMin = pd.read_csv('./csv/tMin_US.csv')
df_humidity = pd.read_csv('./csv/humidity_US.csv')
df_uvIndex = pd.read_csv('./csv/uv_US.csv')
df_cloud = pd.read_csv('./csv/cloud_US.csv')
df_precipprob = pd.read_csv('./csv/precip_US.csv')
df_dewpoint = pd.read_csv('./csv/dew_US.csv')
df_pressure = pd.read_csv('./csv/pressure_US.csv')
df_windspeed = pd.read_csv('./csv/wind_US.csv')
df_ozone = pd.read_csv('./csv/ozone_US.csv')
df_sunrise = pd.read_csv('./csv/sunrise_US.csv')
df_sunset = pd.read_csv('./csv/sunset_US.csv')

In [2]:
df_tMax.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,33,32,33,33,33,34,34,35,34,34
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,33,34,34,33,34,33,33,33,33,34
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,35,34,34,34,33,35,34,35,34,34
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,32,33,33,33,33,34,34,35,35,35
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,30,32,32,32,31,32,34,35,34,34

In [3]:
df_tMax.Lat.dtypes

dtype('float64')

In [4]:
df_tMax.Long_.dtypes

dtype('float64')

In [5]:
# Method for dropping found on 
# https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-conditions-on-column-values/
# create index of rows where latitude == 0

latZero = df_tMax[df_tMax['Lat'] == 0].index

In [6]:
# create index of rowse where longitude == 0

longZero = df_tMax[df_tMax['Long_'] == 0].index

In [7]:
latZero

Int64Index([  52,   64,   89,   95,  111,  115,  170,  188,  225,  251,
            ...
            3099, 3132, 3167, 3178, 3219, 3233, 3285, 3304, 3329, 3337],
           dtype='int64', length=108)

In [8]:
longZero

Int64Index([  52,   64,   89,   95,  111,  115,  170,  188,  225,  251,
            ...
            3099, 3132, 3167, 3178, 3219, 3233, 3285, 3304, 3329, 3337],
           dtype='int64', length=108)

In [9]:
# create index where latitude and longitude == 0

removeIndex = latZero.join(longZero, how='inner')

removeIndex

Int64Index([  52,   64,   89,   95,  111,  115,  170,  188,  225,  251,
            ...
            3099, 3132, 3167, 3178, 3219, 3233, 3285, 3304, 3329, 3337],
           dtype='int64', length=108)

In [10]:
df_tMax.drop(removeIndex, inplace=True)
df_tMin.drop(removeIndex, inplace=True)
df_humidity.drop(removeIndex, inplace=True)
df_uvIndex.drop(removeIndex, inplace=True)
df_cloud.drop(removeIndex, inplace=True)
df_precipprob.drop(removeIndex, inplace=True)
df_dewpoint.drop(removeIndex, inplace=True)
df_pressure.drop(removeIndex, inplace=True)
df_windspeed.drop(removeIndex, inplace=True)
df_ozone.drop(removeIndex, inplace=True)
df_sunrise.drop(removeIndex, inplace=True)
df_sunset.drop(removeIndex, inplace=True)

In [11]:
# Writing data to csv
df_tMax.to_csv('./csv/tMax_US.csv', index=False)
df_tMin.to_csv('./csv/tMin_US.csv', index=False)
df_humidity.to_csv('./csv/humidity_US.csv', index=False)
df_uvIndex.to_csv('./csv/uv_US.csv', index=False)
df_cloud.to_csv('./csv/cloud_US.csv', index=False)
df_precipprob.to_csv('./csv/precip_US.csv', index=False)
df_dewpoint.to_csv('./csv/dew_US.csv', index=False)
df_pressure.to_csv('./csv/pressure_US.csv', index=False)
df_windspeed.to_csv('./csv/wind_US.csv', index=False)
df_ozone.to_csv('./csv/ozone_US.csv', index=False)
df_sunrise.to_csv('./csv/sunrise_US.csv', index=False)
df_sunset.to_csv('./csv/sunset_US.csv', index=False)