Looking at the Hopkins COVID-19 data that was cloned from https://github.com/CSSEGISandData/COVID-19

In [4]:
import pandas as pd
import numpy as np

df_confirmed = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
df_deaths = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
df_recovered = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

In [3]:
df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [5]:
df_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,1,...,4,5,7,8,8,8,8,8,8,8
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [6]:
df_recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,744,792,821,868,873,917,936,956,970,979
1,Beijing,Mainland China,40.1824,116.4142,0,0,1,2,2,2,...,235,248,257,271,276,282,288,297,297,299
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,384,401,422,438,450,469,490,502,512,513
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,218,228,235,243,247,255,260,270,277,284
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,81,81,82,82,84,85,86,87,87,87

In [10]:
df_confirmed.info(), df_deaths.info(), df_recovered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB

(None, None, None)

I think I just need to work with the confirmed DataFrame. It's set up such that each row is a specific location, and the columns are different dates.

I want to try to get temperature data for each of those locations for each of those days. So, what I'll probably have to do is make a new dataframe such that each row is a date, and the column is the latitude, longitude location, and the cell data is the tMax or tAvg or something for that location for that date.