Looking at the Hopkins COVID-19 data that was cloned from https://github.com/CSSEGISandData/COVID-19

In [4]:
import pandas as pd
import numpy as np

df_confirmed = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
df_deaths = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
df_recovered = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

In [3]:
df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [5]:
df_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,1,...,4,5,7,8,8,8,8,8,8,8
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [6]:
df_recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,744,792,821,868,873,917,936,956,970,979
1,Beijing,Mainland China,40.1824,116.4142,0,0,1,2,2,2,...,235,248,257,271,276,282,288,297,297,299
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,384,401,422,438,450,469,490,502,512,513
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,218,228,235,243,247,255,260,270,277,284
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,81,81,82,82,84,85,86,87,87,87

In [10]:
df_confirmed.info(), df_deaths.info(), df_recovered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB

(None, None, None)

I think I just need to work with the confirmed DataFrame. It's set up such that each row is a specific location, and the columns are different dates.

I want to try to get temperature data for each of those locations for each of those days. So, what I'll probably have to do is make a new dataframe such that each row is a date, and the column is the latitude, longitude location, and the cell data is the tMax or tAvg or something for that location for that date.

In [14]:
latitudes = np.array(df_confirmed['Lat'])
longitudes = np.array(df_confirmed['Long'])

latitudes, longitudes

(array([ 31.8257 ,  40.1824 ,  30.0572 ,  26.0789 ,  36.0611 ,  23.3417 ,
         23.8298 ,  26.8154 ,  19.1959 ,  38.0428 ,  47.862  ,  33.88202,
         30.9756 ,  27.6104 ,  44.0935 ,  32.9711 ,  27.614  ,  43.6661 ,
         41.2956 ,  37.2692 ,  35.7452 ,  35.1917 ,  36.3427 ,  31.202  ,
         37.5777 ,  30.6171 ,  39.3054 ,  31.6927 ,  41.1129 ,  24.974  ,
         29.1832 ,  15.     ,  36.     ,  36.     ,  23.7    ,  47.6062 ,
         41.7377 ,  33.4255 ,  22.1667 ,  22.3    ,   1.2833 ,  16.     ,
         47.     ,  28.1667 ,   2.5    ,  43.6532 ,  49.2827 ,  34.0522 ,
        -33.8688 , -37.8136 , -28.0167 ,  11.55   ,   7.     ,  51.     ,
         64.     ,  24.     ,  13.     ,  21.     ,  42.9849 ,  43.     ,
         55.     ,  60.     ,  63.     ,  37.3541 ,  40.     , -34.9285 ,
         36.5761 ,  50.8333 ,  43.0731 ,  35.4437 ,  32.7157 ,  29.4241 ,
         26.     ,  32.     ,  41.2545 ,  38.2721 ,  35.4437 ,  29.3829 ,
         33.8547 ,  40.745  ,  38.4747 ,  33.     ,  35.4437 ,  21.     ,
         33.     ,  26.0275 ,  29.5    ,  28.0339 ,  45.1    ,  46.8182 ,
         47.5162 ,  31.     ,  30.3753 , -14.235  ,  42.3154 ,  39.0742 ,
         41.6086 ,  60.472  ,  45.9432 ,  56.2639 ,  58.5953 ,  52.1326 ,
         43.9424 ,  53.7098 ,  45.5017 ,  64.9631 ,  55.1694 ,  23.6345 ,
        -40.9006 ,   9.082  , -31.9505 ,  53.1424 ,  49.8153 ,  43.7333 ,
         25.3548 ,  48.033  ,  -1.8312 ,  40.1431 ,  49.8175 ,  40.0691 ,
         18.7357 ,  41.824  ,  -0.7893 ,  39.3999 ,  42.5063 , -41.4545 ,
         56.8796 ,  31.7917 ,  24.     ,  14.4974 ,  43.9088 ,  27.9904 ,
         39.0916 ,  37.563  ,  27.3364 ,  38.578  ,  45.775  ,  33.8034 ,
         45.547  , -38.4161 , -35.6751 ,  31.24   ,  42.1767 ,  37.8715 ,
         33.2918 ,  35.8032 ,  41.122  ,  48.3794 ,  17.9    ,  33.7879 ,
         47.1625 , -12.4634 ,  61.8926 ,  36.1408 ,  47.14   ,  51.9194 ,
         34.     ,  37.8534 ,  31.9522 ,  43.9159 ,  46.1512 ,  40.9263 ,
         29.7752 ,  37.7749 , -30.5595 ,  36.0796 ,  29.5693 ,  47.1981 ,
         30.769  ,  35.9179 ,  40.7128 ,  47.7511 ,  39.1547 ,  42.3601 ,
         39.7392 ,  39.5912 ,  27.5142 ,   3.848  ,  51.0447 ,   4.5709 ,
          9.7489 ,  -9.19   ,  44.0165 ,  48.669  ,   8.6195 ,  35.7211 ,
         39.9078 ,  41.3148 ,  38.0606 ,  34.2829 ,  39.8362 ,  42.4672 ,
         40.6546 ,  42.1615 ,  44.9964 ,  40.5608 ,  41.6739 ,  38.7646 ,
         41.9029 ]),
 array([ 117.2264,  116.4142,  107.874 ,  117.9874,  103.8343,  113.4244,
         108.7881,  106.8748,  109.7453,  114.5149,  127.7615,  113.614 ,
         112.2707,  111.7088,  113.9448,  119.455 ,  115.7221,  126.1923,
         122.6085,  106.1655,   95.9956,  108.8701,  118.1498,  121.4491,
         112.2922,  102.7103,  117.323 ,   88.0924,   85.2401,  101.487 ,
         120.0934,  101.    ,  138.    ,  128.    ,  121.    , -122.3321,
         -87.6976, -111.94  ,  113.55  ,  114.2   ,  103.8333,  108.    ,
           2.    ,   84.25  ,  112.5   ,  -79.3832, -123.1207, -118.2437,
         151.2093,  144.9631,  153.4   ,  104.9167,   81.    ,    9.    ,
          26.    ,   54.    ,  122.    ,   78.    ,  -81.2453,   12.    ,
          -3.    ,   90.    ,   16.    , -121.9552,   -4.    ,  138.6007,
        -120.9876,    4.    ,  -89.4012,  139.638 , -117.1611,  -98.4936,
          30.    ,   53.    ,  -95.9758, -121.9399,  139.638 ,  -98.6134,
          35.8623, -123.8695, -121.3542,   44.    ,  139.638 ,   57.    ,
          65.    ,   50.55  ,   47.75  ,    1.6596,   15.2   ,    8.2275,
          14.5501,   35.    ,   69.3451,  -51.9253,   43.3569,   21.8243,
          21.7453,    8.4689,   24.9668,    9.5018,   25.0136,    5.2913,
          12.4578,   27.9534,  -73.5673,  -19.0208,   23.8813, -102.5528,
         174.886 ,    8.6753,  115.8605,   -7.6921,    6.1296,    7.4167,
          51.1839, -121.8339,  -78.1834,   47.5769,   15.473 ,   45.0382,
         -70.1627,  -71.4128,  113.9213,   -8.2245,    1.5218,  145.9707,
          24.6032,   -7.0926,   45.    ,  -14.4524,  -71.826 ,  -82.3018,
        -120.8039, -122.3255,  -82.5307, -122.9888, -118.7606,  -84.3963,
        -123.1386,  -63.6167,  -71.543 ,   36.51  ,  -71.1449, -122.273 ,
        -112.4291,  -78.5661,  -73.7949,   31.1656,  -62.8333, -117.8531,
          19.5033,  130.8456,   -6.9118,   -5.3536,    9.55  ,   19.1451,
           9.    , -121.9018,   35.2332,   17.6791,   14.9955,  -74.077 ,
         -95.3103, -122.4194,   22.9375, -115.094 ,  -95.8143, -119.3732,
         -86.9824,  -86.8622,  -74.006 , -120.7401,  -77.2405,  -71.0589,
        -104.9903, -106.064 ,   90.4336,   11.5021, -114.0719,  -74.2973,
         -83.7534,  -75.0152,   21.0059,   19.699 ,    0.8248,  -79.1781,
         -75.3879,  -96.1951,  -84.4803,  -85.2308,  -86.1752,  -71.2874,
         -73.5594,  -70.7928,  -93.0616, -119.6035,  -75.2479, -121.9018,
          12.4534]))

In [15]:
date_range =  df_confirmed.columns.values

date_range

array(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20',
       '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20',
       '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20',
       '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20',
       '3/5/20', '3/6/20'], dtype=object)

In [20]:
date_range = date_range[date_range != 'Province/State']
date_range = date_range[date_range != 'Country/Region']
date_range = date_range[date_range != 'Lat']
date_range = date_range[date_range != 'Long']
date_range

array(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20',
       '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20',
       '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20',
       '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20',
       '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20',
       '3/4/20', '3/5/20', '3/6/20'], dtype=object)

In [39]:
#creating array of coordinates

lat = latitudes.astype(np.str)
long = longitudes.astype(np.str)

coord = []

for x in range(lat.shape[0]):
    temp_str = lat[x], long[x]
    coord.append(temp_str)

coord

[('31.8257', '117.2264'),
 ('40.1824', '116.4142'),
 ('30.0572', '107.874'),
 ('26.0789', '117.9874'),
 ('36.0611', '103.8343'),
 ('23.3417', '113.4244'),
 ('23.8298', '108.7881'),
 ('26.8154', '106.8748'),
 ('19.1959', '109.7453'),
 ('38.0428', '114.5149'),
 ('47.861999999999995', '127.7615'),
 ('33.882020000000004', '113.61399999999999'),
 ('30.9756', '112.2707'),
 ('27.6104', '111.7088'),
 ('44.0935', '113.9448'),
 ('32.9711', '119.455'),
 ('27.614', '115.7221'),
 ('43.6661', '126.1923'),
 ('41.2956', '122.6085'),
 ('37.2692', '106.1655'),
 ('35.7452', '95.9956'),
 ('35.1917', '108.8701'),
 ('36.3427', '118.1498'),
 ('31.201999999999998', '121.4491'),
 ('37.5777', '112.2922'),
 ('30.6171', '102.7103'),
 ('39.3054', '117.323'),
 ('31.6927', '88.0924'),
 ('41.1129', '85.2401'),
 ('24.974', '101.48700000000001'),
 ('29.1832', '120.0934'),
 ('15.0', '101.0'),
 ('36.0', '138.0'),
 ('36.0', '128.0'),
 ('23.7', '121.0'),
 ('47.6062', '-122.3321'),
 ('41.7377', '-87.6976'),
 ('33.4255', '-111.94'),
 ('22.1667', '113.55'),
 ('22.3', '114.2'),
 ('1.2833', '103.8333'),
 ('16.0', '108.0'),
 ('47.0', '2.0'),
 ('28.1667', '84.25'),
 ('2.5', '112.5'),
 ('43.6532', '-79.3832'),
 ('49.2827', '-123.1207'),
 ('34.0522', '-118.2437'),
 ('-33.8688', '151.2093'),
 ('-37.8136', '144.9631'),
 ('-28.0167', '153.4'),
 ('11.55', '104.9167'),
 ('7.0', '81.0'),
 ('51.0', '9.0'),
 ('64.0', '26.0'),
 ('24.0', '54.0'),
 ('13.0', '122.0'),
 ('21.0', '78.0'),
 ('42.9849', '-81.2453'),
 ('43.0', '12.0'),
 ('55.0', '-3.0'),
 ('60.0', '90.0'),
 ('63.0', '16.0'),
 ('37.3541', '-121.9552'),
 ('40.0', '-4.0'),
 ('-34.9285', '138.6007'),
 ('36.5761', '-120.9876'),
 ('50.8333', '4.0'),
 ('43.0731', '-89.4012'),
 ('35.4437', '139.638'),
 ('32.7157', '-117.1611'),
 ('29.4241', '-98.4936'),
 ('26.0', '30.0'),
 ('32.0', '53.0'),
 ('41.2545', '-95.9758'),
 ('38.2721', '-121.9399'),
 ('35.4437', '139.638'),
 ('29.3829', '-98.6134'),
 ('33.8547', '35.8623'),
 ('40.745', '-123.8695'),
 ('38.4747', '-121.3542'),
 ('33.0', '44.0'),
 ('35.4437', '139.638'),
 ('21.0', '57.0'),
 ('33.0', '65.0'),
 ('26.0275', '50.55'),
 ('29.5', '47.75'),
 ('28.0339', '1.6596'),
 ('45.1', '15.2'),
 ('46.8182', '8.2275'),
 ('47.5162', '14.5501'),
 ('31.0', '35.0'),
 ('30.3753', '69.3451'),
 ('-14.235', '-51.9253'),
 ('42.3154', '43.3569'),
 ('39.0742', '21.8243'),
 ('41.6086', '21.7453'),
 ('60.472', '8.4689'),
 ('45.9432', '24.9668'),
 ('56.2639', '9.5018'),
 ('58.5953', '25.0136'),
 ('52.1326', '5.2913'),
 ('43.9424', '12.4578'),
 ('53.7098', '27.9534'),
 ('45.5017', '-73.5673'),
 ('64.9631', '-19.0208'),
 ('55.1694', '23.8813'),
 ('23.6345', '-102.5528'),
 ('-40.9006', '174.886'),
 ('9.082', '8.6753'),
 ('-31.9505', '115.8605'),
 ('53.1424', '-7.6921'),
 ('49.8153', '6.1296'),
 ('43.7333', '7.4167'),
 ('25.3548', '51.1839'),
 ('48.033', '-121.8339'),
 ('-1.8312', '-78.1834'),
 ('40.1431', '47.5769'),
 ('49.8175', '15.472999999999999'),
 ('40.0691', '45.0382'),
 ('18.7357', '-70.1627'),
 ('41.824', '-71.4128'),
 ('-0.7893', '113.9213'),
 ('39.3999', '-8.2245'),
 ('42.5063', '1.5218'),
 ('-41.4545', '145.9707'),
 ('56.8796', '24.6032'),
 ('31.7917', '-7.0926'),
 ('24.0', '45.0'),
 ('14.4974', '-14.4524'),
 ('43.9088', '-71.82600000000001'),
 ('27.9904', '-82.3018'),
 ('39.0916', '-120.8039'),
 ('37.563', '-122.3255'),
 ('27.3364', '-82.5307'),
 ('38.578', '-122.9888'),
 ('45.775', '-118.7606'),
 ('33.8034', '-84.3963'),
 ('45.547', '-123.1386'),
 ('-38.4161', '-63.6167'),
 ('-35.6751', '-71.543'),
 ('31.24', '36.51'),
 ('42.1767', '-71.1449'),
 ('37.8715', '-122.273'),
 ('33.2918', '-112.4291'),
 ('35.8032', '-78.5661'),
 ('41.122', '-73.7949'),
 ('48.3794', '31.1656'),
 ('17.9', '-62.8333'),
 ('33.7879', '-117.8531'),
 ('47.1625', '19.5033'),
 ('-12.4634', '130.8456'),
 ('61.8926', '-6.9118'),
 ('36.1408', '-5.3536'),
 ('47.14', '9.55'),
 ('51.9194', '19.1451'),
 ('34.0', '9.0'),
 ('37.8534', '-121.9018'),
 ('31.9522', '35.2332'),
 ('43.9159', '17.6791'),
 ('46.1512', '14.9955'),
 ('40.9263', '-74.077'),
 ('29.7752', '-95.3103'),
 ('37.7749', '-122.4194'),
 ('-30.5595', '22.9375'),
 ('36.0796', '-115.094'),
 ('29.5693', '-95.8143'),
 ('47.1981', '-119.3732'),
 ('30.769000000000002', '-86.9824'),
 ('35.9179', '-86.8622'),
 ('40.7128', '-74.006'),
 ('47.7511', '-120.7401'),
 ('39.1547', '-77.2405'),
 ('42.3601', '-71.0589'),
 ('39.7392', '-104.9903'),
 ('39.5912', '-106.064'),
 ('27.5142', '90.4336'),
 ('3.8480000000000003', '11.5021'),
 ('51.0447', '-114.0719'),
 ('4.5709', '-74.2973'),
 ('9.7489', '-83.7534'),
 ('-9.19', '-75.0152'),
 ('44.0165', '21.0059'),
 ('48.669', '19.699'),
 ('8.6195', '0.8248'),
 ('35.7211', '-79.1781'),
 ('39.9078', '-75.3879'),
 ('41.3148', '-96.1951'),
 ('38.0606', '-84.4803'),
 ('34.2829', '-85.2308'),
 ('39.8362', '-86.1752'),
 ('42.4672', '-71.2874'),
 ('40.6546', '-73.5594'),
 ('42.1615', '-70.7928'),
 ('44.9964', '-93.0616'),
 ('40.5608', '-119.6035'),
 ('41.6739', '-75.2479'),
 ('38.7646', '-121.9018'),
 ('41.9029', '12.4534')]

In [42]:
#creating blank dataframe of coordinates and dates. 
#columns names are coordinates, as well as one column for date.


df_temps = pd.DataFrame(columns = coord)


df_temps['date'] = date_range

df_temps

,"(31.8257, 117.2264)","(40.1824, 116.4142)","(30.0572, 107.874)","(26.0789, 117.9874)","(36.0611, 103.8343)","(23.3417, 113.4244)","(23.8298, 108.7881)","(26.8154, 106.8748)","(19.1959, 109.7453)","(38.0428, 114.5149)",...,"(39.8362, -86.1752)","(42.4672, -71.2874)","(40.6546, -73.5594)","(42.1615, -70.7928)","(44.9964, -93.0616)","(40.5608, -119.6035)","(41.6739, -75.2479)","(38.7646, -121.9018)","(41.9029, 12.4534)",date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/23/20
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/24/20
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/25/20
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/26/20
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/27/20
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/28/20
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/29/20
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/30/20
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/31/20
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/1/20
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/2/20
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/3/20
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/4/20
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/5/20
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/6/20
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/7/20
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/8/20
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/9/20
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/10/20
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/11/20
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/12/20
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/13/20
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/14/20
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/15/20
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/16/20
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/17/20
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/18/20
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/19/20
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/20/20
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/21/20
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/22/20
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/23/20
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/24/20
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/25/20
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/26/20
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/27/20
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/28/20
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/29/20
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/1/20
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/2/20
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/3/20
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/4/20
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/5/20
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/6/20