Using SQL to update weather data

In [1]:
# sqlite3 library to run operations on the database
import sqlite3

# connecting to the weather database
con = sqlite3.connect('./sql/weather.db')

# establishing database cursor
cursorObj = con.cursor()

In [9]:
# Getting table names

import pandas as pd

table_names = cursorObj.execute("SELECT name FROM sqlite_master WHERE type='table';")

table_names = table_names.fetchall()

# Taking the table names that were fetched, and making a usable lists out of the values.

US_names = []
global_names = []

for x in range(len(table_names)):
    if (table_names[x][0][-2:] == 'US'):
        US_names.append(table_names[x][0])
        
    else:
        global_names.append(table_names[x][0])
        
 
print('US names', US_names)

print('Global names', global_names)

US names ['cloud_US', 'dew_US', 'humidity_US', 'ozone_US', 'precip_US', 'pressure_US', 'sunrise_US', 'sunset_US', 'tMax_US', 'tMin_US', 'uv_US', 'wind_US']
Global names ['cloud_Global', 'dew_Global', 'humidity_Global', 'ozone_Global', 'precip_Global', 'pressure_Global', 'sunrise_Global', 'sunset_Global', 'tMax_Global', 'tMin_Global', 'uv_Global', 'wind_Global']

In [ ]:
# getting table info

# query = 'SELECT * FROM {}'.format(US_names[0])
# cursorObj.execute(query)

# the_table = cursorObj.fetchall()

# the_table

In [15]:
# adding dates to tables
# current last date is 8/12/20

for x in range(12, 32):
    
    day_str = str(x)
    date_str = '"8/' + day_str + '/20"'
    
    for y in US_names:
        
        add_str = 'ALTER TABLE {} ADD COLUMN {} text'.format(y, date_str)
        # cursorObj.execute(add_str)
        print(add_str)
    
    for y in global_names:
        
        add_str = '"ALTER TABLE {} ADD COLUMN {} text"'.format(y, date_str)
        # cursorObj.execute(add_str)
        print(add_str)

OperationalError: near ""ALTER TABLE cloud_US ADD COLUMN 8"": syntax error