Deleting duplicate Lat/Long entries in the world cities table

In [1]:
# sqlite3 library to run operations on the database
import sqlite3

gen_path = '/home/imants/gits/COVID-19/'

db_path = gen_path + 'sql/world.db'

# connecting to the weather database
con = sqlite3.connect(db_path)

# establishing database cursor
cursorObj = con.cursor()

In [2]:
# Getting table names

cursorObj.execute("SELECT name FROM sqlite_master WHERE type='table';")

for row in cursorObj:
    print(row)

('world_original',)

In [12]:
# Deleting duplicate Lat/Long locations in world_cities
# https://stackoverflow.com/questions/8190541/deleting-duplicate-rows-from-sqlite-database

query_str = 'SELECT * FROM world_original GROUP BY Latitude, Longitude ORDER BY Country, City'

cursorObj.execute(query_str)

counter = 0

for row in cursorObj:
    print('Counter: ', counter)
    for x in range(len(row)):
        print(row[x])
    
    counter = counter + 1
    
    if counter == 20:
        break

Counter:  0
ad
aixas
Aixàs
06
None
42.4833333
1.4666667
Counter:  1
ad
aixirivali
Aixirivali
06
None
42.466666700000005
1.5
Counter:  2
ad
aixovall
Aixovall
06
None
42.466666700000005
1.4833333
Counter:  3
ad
andorra
Andorra
07
None
42.5
1.5166667
Counter:  4
ad
ansalonga
Ansalonga
04
None
42.5666667
1.5166667
Counter:  5
ad
anyos
Anyós
05
None
42.533333299999995
1.5333333
Counter:  6
ad
arans
Arans
04
None
42.5833333
1.5166667
Counter:  7
ad
arinsal
Arinsal
04
None
42.5666667
1.4833333
Counter:  8
ad
aubinya
Aubinyà
06
None
42.45
1.5
Counter:  9
ad
canillo
Canillo
02
3292.0
42.5666667
1.6
Counter:  10
ad
casas vila
Casas Vila
03
None
42.533333299999995
1.5666666999999999
Counter:  11
ad
el pui
El Pui
04
None
42.55
1.5166667
Counter:  12
ad
el serrat
El Serrat
04
None
42.6166667
1.55
Counter:  13
ad
el tarter
El Tarter
02
None
42.5833333
1.65
Counter:  14
ad
el tremat
El Tremat
03
None
42.55
1.5833333
Counter:  15
ad
els bons
Els Bons
03
None
42.533333299999995
1.5833333
Counter:  16
ad
els plans
Els Plans
02
None
42.5833333
1.6333333
Counter:  17
ad
engordany
Engordany
08
None
42.5166667
1.55
Counter:  18
ad
ercs
Ercs
04
None
42.5666667
1.5
Counter:  19
ad
escaldas
Escaldas
08
None
42.5
1.5333333

In [14]:
# making new table from de-duped query
# https://www.techonthenet.com/sqlite/tables/create_table_as.php

create_str = 'CREATE TABLE world AS {}'.format(query_str)

print(create_str)

cursorObj.execute(create_str)

con.commit()

CREATE TABLE world AS SELECT * FROM world_original GROUP BY Latitude, Longitude ORDER BY Country, City

In [ ]:
# Adding the year

def add_month (month, val1, val2):
    
    for q in range(val1, val2):
        day_str = str(q)
        date_str = str(month) + '/' + day_str + '/20'
        print(date_str)
        df_template[date_str] = None


add_month(1, 1, 32)
add_month(2, 1, 30)
add_month(3, 1, 32)
add_month(4, 1, 31)
add_month(5, 1, 32)
add_month(6, 1, 31)
add_month(7, 1, 32)
add_month(8, 1, 32)

df_template.head()

In [ ]:
con.close()