Adding new locations from Hopkins updates to the database

In [1]:
# sqlite3 library to run operations on the database
import sqlite3

gen_path = '/home/imants/gits/COVID-19/'

db_path = gen_path + 'sql/weather.db'

# connecting to the weather database
con = sqlite3.connect(db_path)

In [2]:
# Getting table names

cursorObj = con.cursor()

table_names = cursorObj.execute("SELECT name FROM sqlite_master WHERE type='table';")

table_names = table_names.fetchall()

# Taking the table names that were fetched, and making a usable lists out of the values.

US_names = []
global_names = []

for x in range(len(table_names)):
    if (table_names[x][0][-2:] == 'US'):
        US_names.append(table_names[x][0])
        
    else:
        global_names.append(table_names[x][0])
        
 
print('US names', US_names)

print('Global names', global_names)

US names ['cloud_US', 'dew_US', 'humidity_US', 'ozone_US', 'precip_US', 'pressure_US', 'sunrise_US', 'sunset_US', 'tMax_US', 'tMin_US', 'uv_US', 'wind_US', 'updates_US']
Global names ['cloud_Global', 'dew_Global', 'humidity_Global', 'ozone_Global', 'precip_Global', 'pressure_Global', 'sunrise_Global', 'sunset_Global', 'tMax_Global', 'tMin_Global', 'uv_Global', 'wind_Global', 'updates_global']

In [3]:
# Querying US updates
# this cell is probably useless

# US update table cursor
update_cur = con.cursor()

update_query_str = 'SELECT Lat, Long_ FROM {}'.format(US_names[12]) # index 12 is the updates table
print(update_query_str)
update_cur.execute(update_query_str)

for rows in update_cur:
    print(rows[0])
    print(rows[1])
    break

# US current table cursor
current_cur = con.cursor()

current_query_str = 'SELECT Lat, Long_ from {}'.format(US_names[0]) # index 0 is the clouds table
print(current_query_str)
current_cur.execute(current_query_str)

for rows in current_cur:
    print(rows[0])
    print(rows[1])
    break

SELECT Lat, Long_ FROM updates_US
32.53952745
-86.64408227
SELECT Lat, Long_ from cloud_US
32.53952745
-86.64408227

In [20]:
# Doing JOIN to find unique updates

# SQL JOIN graphic found on 
# https://javarevisited.blogspot.com/2012/11/how-to-join-three-tables-in-sql-query-mysql-sqlserver.html

# US update table cursor
update_cur = con.cursor()

# US current table cursor
current_cur = con.cursor()

on_str = '{}.Lat = {}.Lat AND {}.Long_ = {}.Long_'.format('updates_US', 'cloud_US', 'updates_US', 'cloud_US')
select_str = '{}.Lat, {}.Long_'.format('updates_US', 'updates_US')
from_str = '{} LEFT JOIN {}'.format('updates_US', 'cloud_US')
where_str = '{}.Lat IS NULL'.format('cloud_US')
join_qry = 'SELECT {} FROM {} ON {} WHERE {}'.format(select_str, from_str, on_str, where_str )

print(on_str)
print(select_str)
print(from_str)
print(where_str)
print(join_qry)

join_cur = con.cursor()

join_cur.execute(join_qry)

counter = 0
for rows in join_cur:
    print('Row: ', counter)
    print(rows[0])
    print(rows[1])
    counter = counter + 1

updates_US.Lat = cloud_US.Lat AND updates_US.Long_ = cloud_US.Long_
updates_US.Lat, updates_US.Long_
updates_US LEFT JOIN cloud_US
cloud_US.Lat IS NULL
SELECT updates_US.Lat, updates_US.Long_ FROM updates_US LEFT JOIN cloud_US ON updates_US.Lat = cloud_US.Lat AND updates_US.Long_ = cloud_US.Long_ WHERE cloud_US.Lat IS NULL
Row:  0
0.0
0.0
Row:  1
0.0
0.0
Row:  2
0.0
0.0
Row:  3
0.0
0.0
Row:  4
0.0
0.0
Row:  5
0.0
0.0
Row:  6
0.0
0.0
Row:  7
0.0
0.0
Row:  8
0.0
0.0
Row:  9
0.0
0.0
Row:  10
0.0
0.0
Row:  11
0.0
0.0
Row:  12
0.0
0.0
Row:  13
0.0
0.0
Row:  14
0.0
0.0
Row:  15
0.0
0.0
Row:  16
0.0
0.0
Row:  17
0.0
0.0
Row:  18
0.0
0.0
Row:  19
0.0
0.0
Row:  20
0.0
0.0
Row:  21
0.0
0.0
Row:  22
0.0
0.0
Row:  23
0.0
0.0
Row:  24
0.0
0.0
Row:  25
0.0
0.0
Row:  26
0.0
0.0
Row:  27
0.0
0.0
Row:  28
0.0
0.0
Row:  29
0.0
0.0
Row:  30
0.0
0.0
Row:  31
0.0
0.0
Row:  32
0.0
0.0
Row:  33
0.0
0.0
Row:  34
0.0
0.0
Row:  35
0.0
0.0
Row:  36
0.0
0.0
Row:  37
0.0
0.0
Row:  38
0.0
0.0
Row:  39
0.0
0.0
Row:  40
0.0
0.0
Row:  41
0.0
0.0
Row:  42
0.0
0.0
Row:  43
0.0
0.0
Row:  44
0.0
0.0
Row:  45
0.0
0.0
Row:  46
0.0
0.0
Row:  47
0.0
0.0
Row:  48
0.0
0.0
Row:  49
0.0
0.0
Row:  50
0.0
0.0
Row:  51
0.0
0.0
Row:  52
0.0
0.0
Row:  53
0.0
0.0
Row:  54
0.0
0.0
Row:  55
0.0
0.0
Row:  56
0.0
0.0
Row:  57
0.0
0.0
Row:  58
0.0
0.0
Row:  59
0.0
0.0
Row:  60
0.0
0.0
Row:  61
0.0
0.0
Row:  62
0.0
0.0
Row:  63
0.0
0.0
Row:  64
0.0
0.0
Row:  65
0.0
0.0
Row:  66
0.0
0.0
Row:  67
0.0
0.0
Row:  68
0.0
0.0
Row:  69
0.0
0.0
Row:  70
0.0
0.0
Row:  71
0.0
0.0
Row:  72
0.0
0.0
Row:  73
0.0
0.0
Row:  74
0.0
0.0
Row:  75
0.0
0.0
Row:  76
0.0
0.0
Row:  77
0.0
0.0
Row:  78
0.0
0.0
Row:  79
0.0
0.0
Row:  80
0.0
0.0
Row:  81
0.0
0.0
Row:  82
0.0
0.0
Row:  83
0.0
0.0
Row:  84
0.0
0.0
Row:  85
0.0
0.0
Row:  86
0.0
0.0
Row:  87
0.0
0.0
Row:  88
0.0
0.0
Row:  89
0.0
0.0
Row:  90
0.0
0.0
Row:  91
0.0
0.0
Row:  92
0.0
0.0
Row:  93
0.0
0.0
Row:  94
0.0
0.0
Row:  95
0.0
0.0
Row:  96
0.0
0.0
Row:  97
0.0
0.0
Row:  98
0.0
0.0
Row:  99
0.0
0.0
Row:  100
0.0
0.0
Row:  101
0.0
0.0
Row:  102
0.0
0.0
Row:  103
0.0
0.0
Row:  104
0.0
0.0
Row:  105
0.0
0.0
Row:  106
0.0
0.0
Row:  107
0.0
0.0

In [10]:
# test cell

query_str = 'SELECT * FROM {}'.format(update_query_str)

# print(query_str)

test_cur = con.cursor()

test_cur.execute(query_str)

for row in test_cur:
    print(row)
    break

OperationalError: near "SELECT": syntax error