Looking at the Hopkins COVID-19 data that was cloned from https://github.com/CSSEGISandData/COVID-19

In [1]:
import pandas as pd
import numpy as np

df_confirmed = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
df_deaths = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
df_recovered = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

In [2]:
df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [3]:
df_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,1,...,4,5,7,8,8,8,8,8,8,8
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [4]:
df_recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,744,792,821,868,873,917,936,956,970,979
1,Beijing,Mainland China,40.1824,116.4142,0,0,1,2,2,2,...,235,248,257,271,276,282,288,297,297,299
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,384,401,422,438,450,469,490,502,512,513
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,218,228,235,243,247,255,260,270,277,284
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,81,81,82,82,84,85,86,87,87,87

In [5]:
df_confirmed.info(), df_deaths.info(), df_recovered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 49 columns):
Province/State    108 non-null object
Country/Region    199 non-null object
Lat               199 non-null float64
Long              199 non-null float64
1/22/20           199 non-null int64
1/23/20           199 non-null int64
1/24/20           199 non-null int64
1/25/20           199 non-null int64
1/26/20           199 non-null int64
1/27/20           199 non-null int64
1/28/20           199 non-null int64
1/29/20           199 non-null int64
1/30/20           199 non-null int64
1/31/20           199 non-null int64
2/1/20            199 non-null int64
2/2/20            199 non-null int64
2/3/20            199 non-null int64
2/4/20            199 non-null int64
2/5/20            199 non-null int64
2/6/20            199 non-null int64
2/7/20            199 non-null int64
2/8/20            199 non-null int64
2/9/20            199 non-null int64
2/10/20           199 non-null int64
2/11/20           199 non-null int64
2/12/20           199 non-null int64
2/13/20           199 non-null int64
2/14/20           199 non-null int64
2/15/20           199 non-null int64
2/16/20           199 non-null int64
2/17/20           199 non-null int64
2/18/20           199 non-null int64
2/19/20           199 non-null int64
2/20/20           199 non-null int64
2/21/20           199 non-null int64
2/22/20           199 non-null int64
2/23/20           199 non-null int64
2/24/20           199 non-null int64
2/25/20           199 non-null int64
2/26/20           199 non-null int64
2/27/20           199 non-null int64
2/28/20           199 non-null int64
2/29/20           199 non-null int64
3/1/20            199 non-null int64
3/2/20            199 non-null int64
3/3/20            199 non-null int64
3/4/20            199 non-null int64
3/5/20            199 non-null int64
3/6/20            199 non-null int64
dtypes: float64(2), int64(45), object(2)
memory usage: 76.3+ KB

(None, None, None)

I think I just need to work with the confirmed DataFrame. It's set up such that each row is a specific location, and the columns are different dates.

I want to try to get temperature data for each of those locations for each of those days. So, what I'll probably have to do is make a new dataframe such that each row is a date, and the column is the latitude, longitude location, and the cell data is the tMax or tAvg or something for that location for that date.

In [ ]:
#latitudes = np.array(df_confirmed['Lat'])
#longitudes = np.array(df_confirmed['Long'])

#latitudes, longitudes

In [ ]:
#date_range =  df_confirmed.columns.values

#date_range

In [ ]:
#date_range = date_range[date_range != 'Province/State']
#date_range = date_range[date_range != 'Country/Region']
#date_range = date_range[date_range != 'Lat']
#date_range = date_range[date_range != 'Long']
#date_range

In [ ]:
#creating array of coordinates

#lat = latitudes.astype(np.str)
#long = longitudes.astype(np.str)

#coord = []

#for x in range(lat.shape[0]):
#    temp_str = lat[x], long[x]
#    coord.append(temp_str)

#coord

In [6]:
#creating blank dataframe of coordinates and dates. 
#columns names are coordinates, as well as one column for date.


#df_temps = pd.DataFrame(columns = coord)

df_temps = df_confirmed.copy()

#df_temps['date'] = date_range


df_temps.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [ ]:
#converting date column to datetime datatype, including a column for UNIX time
#from datetime import datetime as dt

#creating a unix time column
#df_temps['unix_date'] = pd.to_datetime(df_temps['date'], origin='unix')

#df_temps['unix_time'] = pd.to_datetime(df_temps['date']).astype(int)/ 10**9

#df_temps['unix_date'] =  pd.to_datetime(df_temps['unix_date'], origin='unix')

#df_temps.head()

In [7]:
df_humid = df_temps.copy()

df_humid.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [8]:
df_temps.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [20]:
#Darksky API key
API_KEY = '81a2f75a3bcbdc7d3d50155bec79a2cb'

#number of seconds in one day
one_day = 86400

t = '1579651200'

latitude = '31.8257'
longitude = '117.2264'

# sample get request 
#GET https://api.darksky.net/forecast/0123456789abcdef9876543210fedcba/
#42.3601,-71.0589,255657600?exclude=currently,flags

url = 'https://api.darksky.net/forecast/' + API_KEY + '/' + latitude + "," + longitude + ',' + t

url = url + '?exclude=currently,flags&units=si'
url

'https://api.darksky.net/forecast/81a2f75a3bcbdc7d3d50155bec79a2cb/31.8257,117.2264,1579651200?exclude=currently,flags&units=si'

In [21]:
import requests

response = requests.get(url)

response.content

b'{"latitude":31.8257,"longitude":117.2264,"timezone":"Asia/Shanghai","hourly":{"summary":"Light rain in the morning and afternoon.","icon":"rain","data":[{"time":1579622400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":5.12,"apparentTemperature":5.12,"dewPoint":4.83,"humidity":0.98,"pressure":1023.3,"windSpeed":0.72,"windGust":0.77,"windBearing":326,"cloudCover":0.98,"uvIndex":0,"visibility":16.093,"ozone":288.4},{"time":1579626000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":4.79,"apparentTemperature":4.79,"dewPoint":4.65,"humidity":0.99,"pressure":1023.1,"windSpeed":1.01,"windGust":1.01,"windBearing":0,"cloudCover":0.96,"uvIndex":0,"visibility":16.093,"ozone":288.2},{"time":1579629600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":4.55,"apparentTemperature":4.55,"dewPoint":4.51,"humidity":1,"pressure":1022.7,"windSpeed":1.15,"windGust":1.28,"windBearing":326,"cloudCover":0.95,"uvIndex":0,"visibility":16.093,"ozone":288.9},{"time":1579633200,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":4.31,"apparentTemperature":3.23,"dewPoint":4.31,"humidity":1,"pressure":1022.4,"windSpeed":1.45,"windGust":2.01,"windBearing":309,"cloudCover":0.96,"uvIndex":0,"visibility":16.093,"ozone":291.1},{"time":1579636800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0088,"precipProbability":0.12,"precipType":"rain","temperature":4.45,"apparentTemperature":3.17,"dewPoint":4.37,"humidity":0.99,"pressure":1022,"windSpeed":1.61,"windGust":3.03,"windBearing":1,"cloudCover":0.97,"uvIndex":0,"visibility":16.093,"ozone":292.2},{"time":1579640400,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0062,"precipProbability":0.13,"precipType":"rain","temperature":4.43,"apparentTemperature":2.94,"dewPoint":4.27,"humidity":0.99,"pressure":1021.7,"windSpeed":1.79,"windGust":3.54,"windBearing":355,"cloudCover":0.99,"uvIndex":0,"visibility":16.093,"ozone":294.3},{"time":1579644000,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0102,"precipProbability":0.19,"precipType":"rain","temperature":4.67,"apparentTemperature":3.39,"dewPoint":4.2,"humidity":0.97,"pressure":1021.9,"windSpeed":1.64,"windGust":2.84,"windBearing":4,"cloudCover":0.99,"uvIndex":0,"visibility":16.093,"ozone":295.1},{"time":1579647600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":4.87,"apparentTemperature":3.85,"dewPoint":4.14,"humidity":0.95,"pressure":1021.9,"windSpeed":1.46,"windGust":1.66,"windBearing":6,"cloudCover":0.99,"uvIndex":0,"visibility":16.093,"ozone":295.4},{"time":1579651200,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":5.14,"apparentTemperature":5.14,"dewPoint":4.19,"humidity":0.94,"pressure":1022.1,"windSpeed":1.16,"windGust":1.54,"windBearing":1,"cloudCover":0.97,"uvIndex":0,"visibility":16.093,"ozone":294},{"time":1579654800,"summary":"Possible Drizzle","icon":"rain","precipIntensity":0.1005,"precipProbability":0.28,"precipType":"rain","temperature":5.48,"apparentTemperature":5.48,"dewPoint":4.3,"humidity":0.92,"pressure":1022.7,"windSpeed":1.23,"windGust":1.74,"windBearing":0,"cloudCover":0.97,"uvIndex":1,"visibility":16.093,"ozone":296.8},{"time":1579658400,"summary":"Possible Light Rain","icon":"rain","precipIntensity":0.482,"precipProbability":0.64,"precipType":"rain","temperature":5.65,"apparentTemperature":4.64,"dewPoint":4.54,"humidity":0.93,"pressure":1022.6,"windSpeed":1.54,"windGust":2.38,"windBearing":2,"cloudCover":1,"uvIndex":2,"visibility":10.053,"ozone":300.7},{"time":1579662000,"summary":"Light Rain","icon":"rain","precipIntensity":0.822,"precipProbability":0.75,"precipType":"rain","temperature":6.27,"apparentTemperature":4.64,"dewPoint":4.9,"humidity":0.91,"pressure":1022.9,"windSpeed":2.22,"windGust":2.98,"windBearing":5,"cloudCover":1,"uvIndex":2,"visibility":5.591,"ozone":303},{"time":1579665600,"summary":"Light Rain","icon":"rain","precipIntensity":1.1366,"precipProbability":0.83,"precipType":"rain","temperature":6.37,"apparentTemperature":5.08,"dewPoint":4.89,"humidity":0.9,"pressure":1022.3,"windSpeed":1.88,"windGust":3.4,"windBearing":351,"cloudCover":1,"uvIndex":3,"visibility":6.673,"ozone":302.1},{"time":1579669200,"summary":"Light Rain","icon":"rain","precipIntensity":1.88,"precipProbability":0.86,"precipType":"rain","temperature":6.49,"apparentTemperature":4.45,"dewPoint":5.05,"humidity":0.91,"pressure":1021.2,"windSpeed":2.78,"windGust":3.78,"windBearing":354,"cloudCover":1,"uvIndex":3,"visibility":10.687,"ozone":299.6},{"time":1579672800,"summary":"Light Rain","icon":"rain","precipIntensity":1.121,"precipProbability":0.75,"precipType":"rain","temperature":6.86,"apparentTemperature":4.98,"dewPoint":5.38,"humidity":0.9,"pressure":1020.7,"windSpeed":2.67,"windGust":4.03,"windBearing":348,"cloudCover":1,"uvIndex":2,"visibility":14.617,"ozone":298},{"time":1579676400,"summary":"Possible Drizzle","icon":"rain","precipIntensity":0.3449,"precipProbability":0.38,"precipType":"rain","temperature":7.59,"apparentTemperature":5.59,"dewPoint":5.57,"humidity":0.87,"pressure":1021.6,"windSpeed":3.04,"windGust":4.81,"windBearing":339,"cloudCover":1,"uvIndex":1,"visibility":16.093,"ozone":298.1},{"time":1579680000,"summary":"Possible Drizzle","icon":"rain","precipIntensity":0.159,"precipProbability":0.25,"precipType":"rain","temperature":7.8,"apparentTemperature":6.31,"dewPoint":5.68,"humidity":0.86,"pressure":1021.6,"windSpeed":2.38,"windGust":3.83,"windBearing":339,"cloudCover":1,"uvIndex":1,"visibility":16.093,"ozone":300.5},{"time":1579683600,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0574,"precipProbability":0.16,"precipType":"rain","temperature":7.59,"apparentTemperature":6.11,"dewPoint":5.68,"humidity":0.88,"pressure":1022.5,"windSpeed":2.31,"windGust":3.02,"windBearing":332,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":302.1},{"time":1579687200,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0432,"precipProbability":0.13,"precipType":"rain","temperature":7.34,"apparentTemperature":6.19,"dewPoint":5.51,"humidity":0.88,"pressure":1022.6,"windSpeed":1.9,"windGust":2.62,"windBearing":327,"cloudCover":0.99,"uvIndex":0,"visibility":16.093,"ozone":301.7},{"time":1579690800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0144,"precipProbability":0.08,"precipType":"rain","temperature":6.92,"apparentTemperature":5.92,"dewPoint":5.31,"humidity":0.89,"pressure":1023.2,"windSpeed":1.69,"windGust":2.38,"windBearing":321,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":300.5},{"time":1579694400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":6.56,"apparentTemperature":5.65,"dewPoint":5.3,"humidity":0.92,"pressure":1023.8,"windSpeed":1.57,"windGust":2.23,"windBearing":317,"cloudCover":0.99,"uvIndex":0,"visibility":16.093,"ozone":299.3},{"time":1579698000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":6.5,"apparentTemperature":6.5,"dewPoint":5.5,"humidity":0.93,"pressure":1023.9,"windSpeed":1.19,"windGust":1.72,"windBearing":321,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":301},{"time":1579701600,"summary":"Overcast","icon":"cloudy","precipIntensity":0.006,"precipProbability":0.06,"precipType":"rain","temperature":6.11,"apparentTemperature":5.12,"dewPoint":5.24,"humidity":0.94,"pressure":1023.8,"windSpeed":1.58,"windGust":2.14,"windBearing":328,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":300.2},{"time":1579705200,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":5.8,"apparentTemperature":4.36,"dewPoint":5.11,"humidity":0.95,"pressure":1023.7,"windSpeed":1.94,"windGust":2.66,"windBearing":332,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":298.9}]},"daily":{"data":[{"time":1579622400,"summary":"Light rain in the morning and afternoon.","icon":"rain","sunriseTime":1579648260,"sunsetTime":1579685760,"moonPhase":0.92,"precipIntensity":0.2701,"precipIntensityMax":1.8801,"precipIntensityMaxTime":1579669200,"precipProbability":0.94,"precipType":"rain","temperatureHigh":8.08,"temperatureHighTime":1579679940,"temperatureLow":5.4,"temperatureLowTime":1579709340,"apparentTemperatureHigh":6.33,"apparentTemperatureHighTime":1579680480,"apparentTemperatureLow":4.01,"apparentTemperatureLowTime":1579710180,"dewPoint":4.89,"humidity":0.93,"pressure":1022.5,"windSpeed":1.76,"windGust":4.81,"windGustTime":1579676340,"windBearing":344,"cloudCover":0.99,"uvIndex":3,"uvIndexTime":1579667160,"visibility":14.689,"ozone":297.3,"temperatureMin":4.04,"temperatureMinTime":1579633440,"temperatureMax":8.08,"temperatureMaxTime":1579679940,"apparentTemperatureMin":2.93,"apparentTemperatureMinTime":1579640160,"apparentTemperatureMax":6.51,"apparentTemperatureMaxTime":1579697820}]},"offset":8}\n'

In [51]:
import json

info = json.loads(response.content)

info['daily']['data'][0]

{'time': 1579622400,
 'summary': 'Light rain in the morning and afternoon.',
 'icon': 'rain',
 'sunriseTime': 1579648260,
 'sunsetTime': 1579685760,
 'moonPhase': 0.92,
 'precipIntensity': 0.2701,
 'precipIntensityMax': 1.8801,
 'precipIntensityMaxTime': 1579669200,
 'precipProbability': 0.94,
 'precipType': 'rain',
 'temperatureHigh': 8.08,
 'temperatureHighTime': 1579679940,
 'temperatureLow': 5.4,
 'temperatureLowTime': 1579709340,
 'apparentTemperatureHigh': 6.33,
 'apparentTemperatureHighTime': 1579680480,
 'apparentTemperatureLow': 4.01,
 'apparentTemperatureLowTime': 1579710180,
 'dewPoint': 4.89,
 'humidity': 0.93,
 'pressure': 1022.5,
 'windSpeed': 1.76,
 'windGust': 4.81,
 'windGustTime': 1579676340,
 'windBearing': 344,
 'cloudCover': 0.99,
 'uvIndex': 3,
 'uvIndexTime': 1579667160,
 'visibility': 14.689,
 'ozone': 297.3,
 'temperatureMin': 4.04,
 'temperatureMinTime': 1579633440,
 'temperatureMax': 8.08,
 'temperatureMaxTime': 1579679940,
 'apparentTemperatureMin': 2.93,
 'apparentTemperatureMinTime': 1579640160,
 'apparentTemperatureMax': 6.51,
 'apparentTemperatureMaxTime': 1579697820}

In [68]:
df_temps.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,7,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,2,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [71]:
do_not_include = ['Province/State', 'Country/Region', 'Lat', 'Long']

for x in df_temps.columns.values:
    if (x not in do_not_include):
        for y in range(df_temps['1/22/20'].values.size):
            df_temps.at[y, x] = 0
            df_humid.at[y, x] = 0
            
df_temps.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
df_humid.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
import statistics
from datetime import datetime as dt

#df_temps.columns.values
do_not_include = ['Province/State', 'Country/Region', 'Lat', 'Long']

for x in df_temps.columns.values:
    if (x not in do_not_include):
        t = pd.to_datetime(df_temps[x].name)
        t = int(t.value / 10**9)
        #print(t, type(t))
        time_values = []
        for time_loop in range(14):
            the_stamp = t - (one_day * time_loop)
            time_values.append(str(the_stamp))
        #print(time_values)
        
        for y in range(df_temps['1/22/20'].values.size):
            temperature_data = []
            humidity_data = []
            latitude = str(df_temps.iloc[y][2])
            longitude = str(df_temps.iloc[y][3])
            #print (latitude, longitude)
            
            temperature_data = []
            humidity_data = []
            
            for z in time_values:
                url = 'https://api.darksky.net/forecast/' + API_KEY + '/' + latitude + "," + longitude + ',' + z
                url = url + '?exclude=currently,flags&units=si'
                #print(url, x, longitude, latitude)
                response = requests.get(url)
                info = json.loads(response.content)
                tMax = info['daily']['data'][0]['temperatureHigh']
                hum = info['daily']['data'][0]['humidity'] * 100
                temperature_data.append(tMax)
                humidity_data.append(hum)
            df_temps.at[y, x] = statistics.median(temperature_data)
            df_humid.at[y, x] = statistics.median(humidity_data)
            #print(df_temps.iloc[y][x])
            if (y == 4):
                break
    if (x == '1/22/20'):
        break

#print(temperature_data, humidity_data)

In [82]:
df_temps.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.1824,116.4142,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.0572,107.8740,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.0789,117.9874,15,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.0611,103.8343,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
df_humid.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20
0,Anhui,Mainland China,31.8257,117.2264,86,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.1824,116.4142,43,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.0572,107.8740,83,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.0789,117.9874,80,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.0611,103.8343,64,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#import statistics

#for x in range(df_temps.columns.values.size - 3):
 #   latitude = df_temps.columns[x][0]
 #   longitude = df_temps.columns[x][1]
 #   print(latitude, longitude)
 #   
 #   for y in range(df_temps['unix_time'].values.size):
 #       #t = str(int(df_temps['unix_time'][y]))
 #       #print(t)
 #       temperature_data = []
 #       humidity_data = []
 #       
 #       for z in range(14):
 #           t =  df_temps['unix_time'][y] - (one_day * z)
 #           t = str(int(t))
 #           url = 'https://api.darksky.net/forecast/' + API_KEY + '/' + latitude + "," + longitude + ',' + t
 #           url = url + '?exclude=currently,flags&units=si'
 #           #response = requests.get(url)
 #           #info = json.loads(response.content)
 #           #tMax = info['daily']['data'][0]['temperatureHigh']
 #           #hum = info['daily']['data'][0]['humidity']
 #           tMax = z
 #           hum = y * z
 #           temperature_data.append(tMax)
 #           humidity_data.append(hum)
 #           print(tMax, hum)
            
 #       print(temperature_data, humidity_data)
 #       #x_location = df_temps.columns.values[x]
 #       #print(x_location)
 #       #df_temps.iloc[x, y+1] = statistics.median(temperature_data)
 #       #df_temps.to_numpy(copy=True)[y][x] = statistics.median(temperature_data)
        #print(df_temps.to_numpy()[y][x])
        #print(df_temps.iloc[x])
        #print(df_temps.loc[x_location])
 #       break
  #  break

#df_temps.head()

#type(df_temps.columns.values[x])
#df_temps[df_temps.columns.values[x]]
#print(df_temps.columns.values[x])
#df_temps.columns.get_loc(df_temps.columns.values[x])
#df_temps.head()
#df_temps.to_numpy()[0]
#df_temps.set_value(y, x, statistics.median(temperature_data))

#df_temps.head()

In [ ]:
#f_temps.columns.values
#np.unique(df_temps.columns.values, return_counts=True)

In [ ]:
#df_temps.index
#df_temps.columns
#
#df_temps.to_numpy()

#df_temps.head()