Looking at the Hopkins COVID-19 data that was cloned from https://github.com/CSSEGISandData/COVID-19

In [10]:
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime as dt

# It turns out that I don't think I need the statistics library after all
# import statistics


df_confirmed = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

#df_deaths = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
#df_recovered = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

In [11]:
df_confirmed.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1024,1030,1030,1050,1065,1086,1169,1174,1162,1188
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,3210,3263,3322,3380,3443,3502,3544,3651,3670,3710
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,563,563,564,565,569,573,575,576,579,581
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,374,381,384,413,416,426,438,442,444,453
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,736,741,745,759,774,788,800,812,816,825

In [12]:
df_confirmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Columns: 215 entries, UID to 8/12/20
dtypes: float64(3), int64(206), object(6)
memory usage: 5.5+ MB

I think I just need to work with the confirmed DataFrame. It's set up such that each row is a specific location, and the columns are different dates.

In [13]:
#creating template for dataframes to record various values

df_template = df_confirmed.copy()


df_template.head(), df_template.size

(        UID iso2 iso3  code3    FIPS   Admin2 Province_State Country_Region  \
 0  84001001   US  USA    840  1001.0  Autauga        Alabama             US
 1  84001003   US  USA    840  1003.0  Baldwin        Alabama             US
 2  84001005   US  USA    840  1005.0  Barbour        Alabama             US
 3  84001007   US  USA    840  1007.0     Bibb        Alabama             US
 4  84001009   US  USA    840  1009.0   Blount        Alabama             US

          Lat      Long_  ... 8/3/20  8/4/20  8/5/20  8/6/20  8/7/20  8/8/20  \
 0  32.539527 -86.644082  ...   1024    1030    1030    1050    1065    1086
 1  30.727750 -87.722071  ...   3210    3263    3322    3380    3443    3502
 2  31.868263 -85.387129  ...    563     563     564     565     569     573
 3  32.996421 -87.125115  ...    374     381     384     413     416     426
 4  33.982109 -86.567906  ...    736     741     745     759     774     788

    8/9/20  8/10/20  8/11/20  8/12/20
 0    1169     1174     1162     1188
 1    3544     3651     3670     3710
 2     575      576      579      581
 3     438      442      444      453
 4     800      812      816      825

 [5 rows x 215 columns],
 718100)

In [14]:
# Creating template out of JHU table format

do_not_include = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
                 'Country_Region', 'Lat', 'Long_', 'Combined_Key']

for x in df_template.columns.values:
    if (x not in do_not_include):
        for y in range(df_template['8/3/20'].values.size):
            df_template.at[y, x] = 0
            
            
df_template.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,0,0,0,0,0,0,0,0,0,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,0,0,0,0,0,0,0,0,0,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,0,0,0,0,0,0,0,0,0,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Adding the rest of the beginning of January

for q in range(1, 22):
    day_str = str(q)
    date_str = '1/' + day_str + '/20'
    df_template[date_str] = 0    

df_template.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/12/20,1/13/20,1/14/20,1/15/20,1/16/20,1/17/20,1/18/20,1/19/20,1/20/20,1/21/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,0,0,0,0,0,0,0,0,0,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,0,0,0,0,0,0,0,0,0,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,0,0,0,0,0,0,0,0,0,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_template.columns.values

array(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20',
       '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20',
       '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20',
       '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20',
       '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20',
       '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20',
       '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20',
       '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20',
       '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20',
       '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20',
       '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20', '4/15/20',
       '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20', '4/21/20',
       '4/22/20', '4/23/20', '4/24/20', '4/25/20', '4/26/20', '4/27/20',
       '4/28/20', '4/29/20', '4/30/20', '5/1/20', '5/2/20', '5/3/20',
       '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20',
       '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20',
       '5/16/20', '5/17/20', '5/18/20', '5/19/20', '5/20/20', '5/21/20',
       '5/22/20', '5/23/20', '5/24/20', '5/25/20', '5/26/20', '5/27/20',
       '5/28/20', '5/29/20', '5/30/20', '5/31/20', '6/1/20', '6/2/20',
       '6/3/20', '6/4/20', '6/5/20', '6/6/20', '6/7/20', '6/8/20',
       '6/9/20', '6/10/20', '6/11/20', '6/12/20', '6/13/20', '6/14/20',
       '6/15/20', '6/16/20', '6/17/20', '6/18/20', '6/19/20', '6/20/20',
       '6/21/20', '6/22/20', '6/23/20', '6/24/20', '6/25/20', '6/26/20',
       '6/27/20', '6/28/20', '6/29/20', '6/30/20', '7/1/20', '7/2/20',
       '7/3/20', '7/4/20', '7/5/20', '7/6/20', '7/7/20', '7/8/20',
       '7/9/20', '7/10/20', '7/11/20', '7/12/20', '7/13/20', '7/14/20',
       '7/15/20', '7/16/20', '7/17/20', '7/18/20', '7/19/20', '7/20/20',
       '7/21/20', '7/22/20', '7/23/20', '7/24/20', '7/25/20', '7/26/20',
       '7/27/20', '7/28/20', '7/29/20', '7/30/20', '7/31/20', '8/1/20',
       '8/2/20', '8/3/20', '8/4/20', '8/5/20', '8/6/20', '8/7/20',
       '8/8/20', '8/9/20', '8/10/20', '8/11/20', '8/12/20', '1/1/20',
       '1/2/20', '1/3/20', '1/4/20', '1/5/20', '1/6/20', '1/7/20',
       '1/8/20', '1/9/20', '1/10/20', '1/11/20', '1/12/20', '1/13/20',
       '1/14/20', '1/15/20', '1/16/20', '1/17/20', '1/18/20', '1/19/20',
       '1/20/20', '1/21/20'], dtype=object)

In [17]:
# Rearranging date columns to be in chronological order

ordered_columns = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
                   'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/1/20',
                   '1/2/20', '1/3/20', '1/4/20', '1/5/20', '1/6/20', '1/7/20', 
                   '1/8/20', '1/9/20', '1/10/20', '1/11/20', '1/12/20', 
                   '1/13/20', '1/14/20', '1/15/20', '1/16/20', '1/17/20', 
                   '1/18/20', '1/19/20', '1/20/20', '1/21/20', '1/22/20', 
                   '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', 
                   '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', 
                   '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', 
                   '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', 
                   '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', 
                   '2/18/20', '2/19/20', '2/20/20', '2/21/20', '2/22/20', 
                   '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20', 
                   '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', 
                   '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', 
                   '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20',
                   '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', 
                   '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20', 
                   '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20', 
                   '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20', 
                   '4/10/20', '4/11/20', '4/12/20', '4/14/20', '4/15/20', '4/16/20',
                   '4/17/20', '4/18/20', '4/19/20', '4/20/20', '4/21/20', '4/22/20', 
                   '4/23/20', '4/24/20', '4/25/20', '4/26/20', '4/27/20', '4/28/20', 
                   '4/29/20', '4/30/20', '5/1/20', '5/2/20', '5/3/20', '5/4/20', 
                   '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20', '5/10/20', 
                   '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20',
                   '5/17/20', '5/18/20', '5/19/20', '5/20/20', '5/21/20', '5/22/20', 
                   '5/23/20', '5/24/20', '5/25/20', '5/26/20', '5/27/20', '5/28/20', 
                   '5/29/20', '5/30/20', '5/31/20', '6/1/20', '6/2/20', '6/3/20', 
                   '6/4/20', '6/5/20', '6/6/20', '6/7/20', '6/8/20', '6/9/20', 
                   '6/10/20', '6/11/20', '6/12/20', '6/13/20', '6/14/20', '6/15/20', 
                   '6/16/20', '6/17/20', '6/18/20', '6/19/20', '6/20/20', '6/21/20', 
                   '6/22/20', '6/23/20', '6/24/20', '6/25/20', '6/26/20', '6/27/20', 
                   '6/28/20', '6/29/20', '6/30/20', '7/1/20', '7/2/20', '7/3/20', 
                   '7/4/20', '7/5/20', '7/6/20', '7/7/20', '7/8/20', '7/9/20', 
                   '7/10/20', '7/11/20', '7/12/20', '7/13/20', '7/14/20', '7/15/20', 
                   '7/16/20', '7/17/20', '7/18/20', '7/19/20', '7/20/20', '7/21/20', 
                   '7/22/20', '7/23/20', '7/24/20', '7/25/20', '7/26/20', '7/27/20', 
                   '7/28/20', '7/29/20', '7/30/20', '7/31/20', '8/1/20', '8/2/20', 
                   '8/3/20', '8/4/20', '8/5/20', '8/6/20', '8/7/20', '8/8/20', 
                   '8/9/20', '8/10/20', '8/11/20', '8/12/20']

df_template = df_template[ordered_columns]

df_template.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,0,0,0,0,0,0,0,0,0,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,0,0,0,0,0,0,0,0,0,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,0,0,0,0,0,0,0,0,0,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_template.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Columns: 107 entries, Province/State to 4/12/20
dtypes: float64(2), int64(103), object(2)
memory usage: 220.8+ KB

In [18]:
# For description of the different units being captured from the API,
# please see https://darksky.net/dev/docs
# Requests are being made in SI units

# dataframe to record median maximum temperature
df_tMax = df_template.copy()

# dataframe to record median minimum temperature
df_tMin = df_template.copy()

# dataframe to record median humidity
df_humidity = df_template.copy()

# dataframe to record median UV index
df_uvIndex = df_template.copy()

# dataframe to record median cloud cover
df_cloud = df_template.copy()

# dataframe to record weather summaries
#df_summaries = df_template.copy()

# dataframe to record precipitation probability
df_precipprob = df_template.copy()

# dataframe to record dewpoint
df_dewpoint = df_template.copy()

# dataframe to record pressure
df_pressure = df_template.copy()

# dataframe to record windspeed
df_windspeed = df_template.copy()

# dataframe to record "ozone" reading
df_ozone = df_template.copy()

# dataframe to record sunrise time
df_sunrise = df_template.copy()

# dataframe to record sunset time
df_sunset = df_template.copy()

In [14]:
#Darksky API key
API_KEY = '5f1fd51486fedd234dbaad93d965df91'

#number of seconds in one day
one_day = 86400

t = '1577836800'

latitude = '15'
longitude = '101'

# sample get request 
#GET https://api.darksky.net/forecast/0123456789abcdef9876543210fedcba/
#42.3601,-71.0589,255657600?exclude=currently,flags

url = 'https://api.darksky.net/forecast/' + API_KEY + '/' + latitude + "," + longitude + ',' + t

url = url + '?exclude=currently,flags&units=si'
url

'https://api.darksky.net/forecast/5f1fd51486fedd234dbaad93d965df91/15,101,1577836800?exclude=currently,flags&units=si'

In [15]:
response = requests.get(url)

In [16]:
response.content

b'{"latitude":15,"longitude":101,"timezone":"Asia/Bangkok","hourly":{"summary":"Mostly cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1577811600,"summary":"Partly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":25.88,"apparentTemperature":26.18,"dewPoint":18.39,"humidity":0.63,"pressure":1016.7,"windSpeed":4.09,"windGust":8.77,"windBearing":60,"cloudCover":0.4,"uvIndex":0,"visibility":16.093,"ozone":249.8},{"time":1577815200,"summary":"Partly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":25.7,"apparentTemperature":26.07,"dewPoint":19.07,"humidity":0.67,"pressure":1016.6,"windSpeed":4.74,"windGust":11.49,"windBearing":68,"cloudCover":0.35,"uvIndex":0,"visibility":16.093,"ozone":251.4},{"time":1577818800,"summary":"Partly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":25.41,"apparentTemperature":25.82,"dewPoint":19.47,"humidity":0.7,"pressure":1016.3,"windSpeed":5.19,"windGust":12.3,"windBearing":71,"cloudCover":0.34,"uvIndex":0,"visibility":16.093,"ozone":251},{"time":1577822400,"summary":"Partly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":25.12,"apparentTemperature":25.58,"dewPoint":19.79,"humidity":0.72,"pressure":1016.4,"windSpeed":5.53,"windGust":12.15,"windBearing":71,"cloudCover":0.34,"uvIndex":0,"visibility":16.093,"ozone":249.9},{"time":1577826000,"summary":"Partly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":24.57,"apparentTemperature":25.02,"dewPoint":19.72,"humidity":0.74,"pressure":1016.4,"windSpeed":5.68,"windGust":11.9,"windBearing":71,"cloudCover":0.34,"uvIndex":0,"visibility":16.093,"ozone":249},{"time":1577829600,"summary":"Partly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":23.87,"apparentTemperature":24.3,"dewPoint":19.4,"humidity":0.76,"pressure":1016.6,"windSpeed":5.49,"windGust":11.93,"windBearing":71,"cloudCover":0.31,"uvIndex":0,"visibility":16.093,"ozone":248.5},{"time":1577833200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":23.79,"apparentTemperature":24.2,"dewPoint":19.25,"humidity":0.76,"pressure":1016.6,"windSpeed":5.12,"windGust":11.87,"windBearing":71,"cloudCover":0.29,"uvIndex":0,"visibility":16.093,"ozone":247.9},{"time":1577836800,"summary":"Partly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":23.92,"apparentTemperature":24.31,"dewPoint":19.09,"humidity":0.74,"pressure":1017.2,"windSpeed":4.99,"windGust":11.51,"windBearing":72,"cloudCover":0.34,"uvIndex":0,"visibility":16.093,"ozone":247.7},{"time":1577840400,"summary":"Partly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":25.34,"apparentTemperature":25.74,"dewPoint":19.34,"humidity":0.69,"pressure":1018.1,"windSpeed":5.83,"windGust":10.58,"windBearing":72,"cloudCover":0.55,"uvIndex":1,"visibility":16.093,"ozone":247.1},{"time":1577844000,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":27.41,"apparentTemperature":28.68,"dewPoint":19.18,"humidity":0.61,"pressure":1018.8,"windSpeed":6.43,"windGust":9.46,"windBearing":77,"cloudCover":0.83,"uvIndex":2,"visibility":16.093,"ozone":247.5},{"time":1577847600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":29.2,"apparentTemperature":30.47,"dewPoint":18.94,"humidity":0.54,"pressure":1019,"windSpeed":6.72,"windGust":8.41,"windBearing":80,"cloudCover":1,"uvIndex":3,"visibility":16.093,"ozone":247.7},{"time":1577851200,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":30.46,"apparentTemperature":31.68,"dewPoint":18.73,"humidity":0.5,"pressure":1018.5,"windSpeed":6.45,"windGust":7.47,"windBearing":80,"cloudCover":0.94,"uvIndex":5,"visibility":16.093,"ozone":247.7},{"time":1577854800,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":31.68,"apparentTemperature":32.71,"dewPoint":18.27,"humidity":0.45,"pressure":1017.6,"windSpeed":5.91,"windGust":6.61,"windBearing":80,"cloudCover":0.78,"uvIndex":6,"visibility":16.093,"ozone":247.4},{"time":1577858400,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":32.51,"apparentTemperature":33.29,"dewPoint":17.68,"humidity":0.41,"pressure":1016.8,"windSpeed":5.5,"windGust":6.01,"windBearing":77,"cloudCover":0.68,"uvIndex":6,"visibility":16.093,"ozone":247.2},{"time":1577862000,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":32.71,"apparentTemperature":33.62,"dewPoint":17.88,"humidity":0.41,"pressure":1015.9,"windSpeed":4.94,"windGust":5.09,"windBearing":72,"cloudCover":0.75,"uvIndex":5,"visibility":16.093,"ozone":245.8},{"time":1577865600,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0051,"precipProbability":0.02,"precipType":"rain","temperature":32.28,"apparentTemperature":33.35,"dewPoint":18.25,"humidity":0.43,"pressure":1015.1,"windSpeed":5.19,"windGust":5.5,"windBearing":69,"cloudCover":0.89,"uvIndex":3,"visibility":16.093,"ozone":245.8},{"time":1577869200,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0062,"precipProbability":0.02,"precipType":"rain","temperature":30.9,"apparentTemperature":32.11,"dewPoint":18.68,"humidity":0.48,"pressure":1014.7,"windSpeed":5.15,"windGust":5.91,"windBearing":65,"cloudCover":1,"uvIndex":1,"visibility":16.093,"ozone":245.5},{"time":1577872800,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":30.08,"apparentTemperature":31.38,"dewPoint":18.94,"humidity":0.51,"pressure":1014.9,"windSpeed":4.56,"windGust":6.29,"windBearing":59,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":244.9},{"time":1577876400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":29.08,"apparentTemperature":30.46,"dewPoint":19.2,"humidity":0.55,"pressure":1015.2,"windSpeed":3.71,"windGust":6.66,"windBearing":54,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":244.3},{"time":1577880000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":28.14,"apparentTemperature":29.57,"dewPoint":19.43,"humidity":0.59,"pressure":1015.7,"windSpeed":2.99,"windGust":6.52,"windBearing":48,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":243.6},{"time":1577883600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":27.2,"apparentTemperature":28.74,"dewPoint":20.02,"humidity":0.65,"pressure":1016.5,"windSpeed":1.98,"windGust":3.96,"windBearing":48,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":242.7},{"time":1577887200,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":26.25,"apparentTemperature":27.59,"dewPoint":19.97,"humidity":0.68,"pressure":1017.4,"windSpeed":1.6,"windGust":2.86,"windBearing":41,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":242.6},{"time":1577890800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0051,"precipProbability":0.02,"precipType":"rain","temperature":25.55,"apparentTemperature":26.01,"dewPoint":19.88,"humidity":0.71,"pressure":1018,"windSpeed":1.55,"windGust":2.53,"windBearing":38,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":242.6},{"time":1577894400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":25.22,"apparentTemperature":25.72,"dewPoint":20.13,"humidity":0.73,"pressure":1018,"windSpeed":2.04,"windGust":3.55,"windBearing":44,"cloudCover":1,"uvIndex":0,"visibility":16.093,"ozone":242.9}]},"daily":{"data":[{"time":1577811600,"summary":"Mostly cloudy throughout the day.","icon":"partly-cloudy-day","sunriseTime":1577835780,"sunsetTime":1577876280,"moonPhase":0.2,"precipIntensity":0.0017,"precipIntensityMax":0.0062,"precipIntensityMaxTime":1577868720,"precipProbability":0.05,"precipType":"rain","temperatureHigh":33,"temperatureHighTime":1577861400,"temperatureLow":22.74,"temperatureLowTime":1577921700,"apparentTemperatureHigh":33.62,"apparentTemperatureHighTime":1577862420,"apparentTemperatureLow":23.45,"apparentTemperatureLowTime":1577921880,"dewPoint":19.11,"humidity":0.61,"pressure":1016.8,"windSpeed":4.71,"windGust":12.33,"windGustTime":1577819580,"windBearing":69,"cloudCover":0.71,"uvIndex":6,"uvIndexTime":1577857380,"visibility":16.093,"ozone":246.7,"temperatureMin":23.49,"temperatureMinTime":1577835060,"temperatureMax":33,"temperatureMaxTime":1577861400,"apparentTemperatureMin":24.16,"apparentTemperatureMinTime":1577835120,"apparentTemperatureMax":33.62,"apparentTemperatureMaxTime":1577862420}]},"offset":7}\n'

In [17]:
info = json.loads(response.content)

info['daily']['data'][0]

{'time': 1577811600,
 'summary': 'Mostly cloudy throughout the day.',
 'icon': 'partly-cloudy-day',
 'sunriseTime': 1577835780,
 'sunsetTime': 1577876280,
 'moonPhase': 0.2,
 'precipIntensity': 0.0017,
 'precipIntensityMax': 0.0062,
 'precipIntensityMaxTime': 1577868720,
 'precipProbability': 0.05,
 'precipType': 'rain',
 'temperatureHigh': 33,
 'temperatureHighTime': 1577861400,
 'temperatureLow': 22.74,
 'temperatureLowTime': 1577921700,
 'apparentTemperatureHigh': 33.62,
 'apparentTemperatureHighTime': 1577862420,
 'apparentTemperatureLow': 23.45,
 'apparentTemperatureLowTime': 1577921880,
 'dewPoint': 19.11,
 'humidity': 0.61,
 'pressure': 1016.8,
 'windSpeed': 4.71,
 'windGust': 12.33,
 'windGustTime': 1577819580,
 'windBearing': 69,
 'cloudCover': 0.71,
 'uvIndex': 6,
 'uvIndexTime': 1577857380,
 'visibility': 16.093,
 'ozone': 246.7,
 'temperatureMin': 23.49,
 'temperatureMinTime': 1577835060,
 'temperatureMax': 33,
 'temperatureMaxTime': 1577861400,
 'apparentTemperatureMin': 24.16,
 'apparentTemperatureMinTime': 1577835120,
 'apparentTemperatureMax': 33.62,
 'apparentTemperatureMaxTime': 1577862420}

In [20]:
df_tMax.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,0,0,0,0,0,0,0,0,0,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,0,0,0,0,0,0,0,0,0,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,0,0,0,0,0,0,0,0,0,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# pull data from darksky weather API

# Columns to be skipped when iterating through the DataFrame
do_not_include = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
                 'Country_Region', 'Lat', 'Long_', 'Combined_Key']

#Darksky API key
API_KEY = '48d1ca936989a568fff46f6736111066'

# counter
counter = 0

# Dummy value in case of errors
dummy = -1000


# Start iterating through the date columns
for x in df_tMax.columns.values:
    
    # Skip the columns that are not dates
    if (x not in do_not_include):
        
        # Create Unix time stamp out of the date column
        t = pd.to_datetime(df_tMax[x].name)
        t = int(t.value / 10**9)
        t = str(t)
                
        # Start iterating through the rows (locations)
        for y in range(df_tMax['1/22/20'].values.size):
            
                      
            # latitude and longitude coordinates of the row to be passed to the API            
            latitude = str(df_tMax.iloc[y][8])
            longitude = str(df_tMax.iloc[y][9])
                        
            # Building the URL for the API get
            url = 'https://api.darksky.net/forecast/' + API_KEY + '/' + latitude + "," + longitude + ',' + t
            url = url + '?exclude=currently,flags&units=si'
                
            # Getting the API call
            response = requests.get(url)
            counter = counter + 1
            print(counter)
            
            # Putting the API response into the JSON thing
            info = json.loads(response.content)
            
            # adding error handling in case something is wrong with the JSON response
            try:
                
                # Making a variable to more easily acccess JSON response data
                easy_info = info['daily']['data'][0]
                
                # Reading the JSON data
                tMax = easy_info['temperatureHigh']
                tMin = easy_info['temperatureLow']
                hum = easy_info['humidity'] * 100
                uvee = easy_info['uvIndex']
                clouds = easy_info['cloudCover'] * 100
                precip = easy_info['precipProbability'] * 100
                dew = easy_info['dewPoint']
                pressure = easy_info['pressure']
                wind = easy_info['windSpeed']
                ozone = easy_info['ozone']
                sunrise = easy_info['sunriseTime']
                sunset = easy_info['sunsetTime']
                
            except:
                
                # Creating dummy values in case of error
                print('Error encountered')
                tMax = dummy
                tMin = dummy
                hum = dummy
                uvee = dummy
                clouds = dummy
                precip = dummy
                dew = dummy
                pressure = dummy
                wind = dummy
                ozone = dummy
                sunrise = dummy
                sunset = dummy
            
            # Recording the data into the respective dataframes
            df_tMax.at[y, x] = tMax
            df_tMin.at[y, x] = tMin
            df_humidity.at[y, x] = hum
            df_uvIndex.at[y, x] = uvee
            df_cloud.at[y, x] = clouds
            df_precipprob.at[y, x] = precip
            df_dewpoint.at[y, x] = dew
            df_pressure.at[y, x] = pressure
            df_windspeed.at[y, x] = wind
            df_ozone.at[y, x] = ozone
            df_sunrise.at[y,x] = sunrise
            df_sunset.at[y,x] = sunset

          
            # API has a daily limit, so we're just taking a break here
            #if (y == 10):
             #   break
                
   # if (counter == 433):
    #    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
Error encountered
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857

1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983

In [22]:
df_tMax.head(12)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,0,0,0,0,0,0,0,0,0,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,0,0,0,0,0,0,0,0,0,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,0,0,0,0,0,0,0,0,0,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0
5,84001011,US,USA,840,1011.0,Bullock,Alabama,US,32.100305,-85.712655,...,0,0,0,0,0,0,0,0,0,0
6,84001013,US,USA,840,1013.0,Butler,Alabama,US,31.753001,-86.680575,...,0,0,0,0,0,0,0,0,0,0
7,84001015,US,USA,840,1015.0,Calhoun,Alabama,US,33.774837,-85.826304,...,0,0,0,0,0,0,0,0,0,0
8,84001017,US,USA,840,1017.0,Chambers,Alabama,US,32.913601,-85.390727,...,0,0,0,0,0,0,0,0,0,0
9,84001019,US,USA,840,1019.0,Cherokee,Alabama,US,34.178060,-85.606390,...,0,0,0,0,0,0,0,0,0,0
10,84001021,US,USA,840,1021.0,Chilton,Alabama,US,32.850441,-86.717326,...,0,0,0,0,0,0,0,0,0,0
11,84001023,US,USA,840,1023.0,Choctaw,Alabama,US,32.022273,-88.265644,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# test run

# Columns to be skipped when iterating through the DataFrame
do_not_include = ['Province/State', 'Country/Region', 'Lat', 'Long']

#Darksky API key
API_KEY = 'API KEY'

# Start iterating through the date columns
for x in df_tMax.columns.values:
    
    # Skip the columns that are not dates
    if (x not in do_not_include):
        
        # Create Unix time stamp out of the date column
        t = pd.to_datetime(df_tMax[x].name)
        t = int(t.value / 10**9)
        t = str(t)
                
        # Start iterating through the rows (locations)
        for y in range(df_tMax['1/22/20'].values.size):
            
                      
            if (y == df_tMax.iloc)
            # latitude and longitude coordinates of the row to be passed to the API            
            latitude = str(df_tMax.iloc[y][2])
            longitude = str(df_tMax.iloc[y][3])
                        
            # Building the URL for the API get
            #url = 'https://api.darksky.net/forecast/' + API_KEY + '/' + latitude + "," + longitude + ',' + t
            #url = url + '?exclude=currently,flags&units=si'
                
            # Getting the API call
            #response = requests.get(url)
                
            # Putting the API response into the JSON thing
            #info = json.loads(response.content)
            # Making a variable to more easily acccess JSON response data
            #easy_info = info['daily']['data'][0]
                
            # Reading the JSON data
            tMax = y + y
            tMin = y + y
            hum = y + y
            uvee = y + y
            clouds = y + y
            precip = y + y
            dew = y + y
            pressure = y + y
            wind = y + y
            ozone = y + y
            sunrise = y + y
            sunset = y + y
            
            # Recording the data into the respective dataframes
            df_tMax.at[y, x] = tMax
            df_tMin.at[y, x] = tMin
            df_humidity.at[y, x] = hum
            df_uvIndex.at[y, x] = uvee
            df_cloud.at[y, x] = clouds
            df_precipprob.at[y, x] = precip
            df_dewpoint.at[y, x] = dew
            df_pressure.at[y, x] = pressure
            df_windspeed.at[y, x] = wind
            df_ozone.at[y, x] = ozone
            df_sunrise.at[y,x] = sunrise
            df_sunset.at[y,x] = sunset
            
            # API has a daily limit, so we're just taking a break here
            #if (y == 10):
             #   break
                
    #if (x == '1/22/20'):
     #   break

In [13]:
df_sunset.tail(12)

,Province/State,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
448,NaN,Liberia,6.4281,-9.4295,896,896,896,896,896,896,...,896,896,896,896,896,896,896,896,896,896
449,Curacao,Netherlands,12.1696,-68.9900,898,898,898,898,898,898,...,898,898,898,898,898,898,898,898,898,898
450,NaN,Republic of the Congo,-1.4400,15.5560,900,900,900,900,900,900,...,900,900,900,900,900,900,900,900,900,900
451,NaN,Somalia,5.1521,46.1996,902,902,902,902,902,902,...,902,902,902,902,902,902,902,902,902,902
452,NaN,Tanzania,-6.3690,34.8888,904,904,904,904,904,904,...,904,904,904,904,904,904,904,904,904,904
453,NaN,The Bahamas,24.2500,-76.0000,906,906,906,906,906,906,...,906,906,906,906,906,906,906,906,906,906
454,Virgin Islands,US,18.3358,-64.8963,908,908,908,908,908,908,...,908,908,908,908,908,908,908,908,908,908
455,Cayman Islands,United Kingdom,19.3133,-81.2546,910,910,910,910,910,910,...,910,910,910,910,910,910,910,910,910,910
456,Reunion,France,-21.1351,55.2471,912,912,912,912,912,912,...,912,912,912,912,912,912,912,912,912,912
457,NaN,Barbados,13.1939,-59.5432,914,914,914,914,914,914,...,914,914,914,914,914,914,914,914,914,914
458,NaN,Montenegro,42.5000,19.3000,916,916,916,916,916,916,...,916,916,916,916,916,916,916,916,916,916
459,NaN,The Gambia,13.4667,-16.6000,918,918,918,918,918,918,...,918,918,918,918,918,918,918,918,918,918

In [53]:
# The real API run

# Columns to be skipped when iterating through the DataFrame
do_not_include = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
                 'Country_Region', 'Lat', 'Long_', 'Combined_Key']

#Darksky API key
API_KEY = '48d1ca936989a568fff46f6736111066'

# Setting a counter for API calls as an emergency break, in case the thing gets out of control
# counter = 0

# Start iterating through the date columns
for x in df_tMax.columns.values:
    
    # Skip the columns that are not dates
    if (x not in do_not_include):
        
        # Create Unix time stamp out of the date column
        t = pd.to_datetime(df_tMax[x].name)
        t = int(t.value / 10**9)
        t = str(t)
                
        # Start iterating through the rows (locations)
        for y in range(df_tMax['1/22/20'].values.size):
            
                      
            # latitude and longitude coordinates of the row to be passed to the API            
            latitude = str(df_tMax.iloc[y][8])
            longitude = str(df_tMax.iloc[y][9])
                        
            # Building the URL for the API get
            url = 'https://api.darksky.net/forecast/' + API_KEY + '/' + latitude + "," + longitude + ',' + t
            url = url + '?exclude=currently,flags&units=si'
                
            # Getting the API call
            response = requests.get(url)
            # Incrementing the counter
            # counter = counter + 1
                
            # Putting the API response into the JSON thing
            info = json.loads(response.content)
            # Making a variable to more easily acccess JSON response data
            easy_info = info['daily']['data'][0]
                
            # Reading the JSON data
            tMax = easy_info['temperatureHigh']
            tMin = easy_info['temperatureLow']
            hum = easy_info['humidity'] * 100
            uvee = easy_info['uvIndex']
            clouds = easy_info['cloudCover'] * 100
            precip = easy_info['precipProbability'] * 100
            dew = easy_info['dewPoint']
            pressure = easy_info['pressure']
            wind = easy_info['windSpeed']
            ozone = easy_info['ozone']
            sunrise = easy_info['sunriseTime']
            sunset = easy_info['sunsetTime']
            
            # Recording the data into the respective dataframes
            df_tMax.at[y, x] = tMax
            df_tMin.at[y, x] = tMin
            df_humidity.at[y, x] = hum
            df_uvIndex.at[y, x] = uvee
            df_cloud.at[y, x] = clouds
            df_precipprob.at[y, x] = precip
            df_dewpoint.at[y, x] = dew
            df_pressure.at[y, x] = pressure
            df_windspeed.at[y, x] = wind
            df_ozone.at[y, x] = ozone
            df_sunrise.at[y, x] = sunrise
            df_sunset.at[y, x] = sunset

KeyError: 'daily'

In [16]:
df_sunrise.head()

,Province/State,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,NaN,Thailand,15.0000,101.0000,1577835780,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Japan,36.0000,138.0000,1577829600,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,NaN,Singapore,1.2833,103.8333,1577833680,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3,NaN,Nepal,28.1667,84.2500,1577841360,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
4,NaN,Malaysia,2.5000,112.5000,1577831700,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8

In [17]:
df_tMax.head(12)

,Province/State,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,NaN,Thailand,15.0000,101.0000,33,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Japan,36.0000,138.0000,6,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,NaN,Singapore,1.2833,103.8333,31,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3,NaN,Nepal,28.1667,84.2500,21,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
4,NaN,Malaysia,2.5000,112.5000,28,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
5,British Columbia,Canada,49.2827,-123.1207,8,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
6,New South Wales,Australia,-33.8688,151.2093,24,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
7,Victoria,Australia,-37.8136,144.9631,25,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
8,Queensland,Australia,-28.0167,153.4000,30,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
9,NaN,Cambodia,11.5500,104.9167,34,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
10,NaN,Sri Lanka,7.0000,81.0000,27,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
11,NaN,Germany,51.0000,9.0000,1,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22

In [13]:
df_tMin.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,-7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,-7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,-5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,-21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_humidity.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,80,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,44,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,76,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,79,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,60,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,73,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,83,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,82,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,88,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,70,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,64,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_uvIndex.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df_cloud.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,96,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,26,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,83,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,74,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,67,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,73,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,96,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,96,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,44,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_precipprob.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,40,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,28,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,22,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_dewpoint.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,-13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,-9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,15,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,-6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,-23,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_pressure.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,1026,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,1027,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,1020,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,1021,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,1023,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,1019,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,1020,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,1019,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,1015,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,1027,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,1023,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df_windspeed.head(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.82570,117.2264,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Beijing,Mainland China,40.18240,116.4142,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Chongqing,Mainland China,30.05720,107.8740,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fujian,Mainland China,26.07890,117.9874,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gansu,Mainland China,36.06110,103.8343,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Guangdong,Mainland China,23.34170,113.4244,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Guangxi,Mainland China,23.82980,108.7881,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Guizhou,Mainland China,26.81540,106.8748,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Hainan,Mainland China,19.19590,109.7453,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Hebei,Mainland China,38.04280,114.5149,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Heilongjiang,Mainland China,47.86200,127.7615,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Henan,Mainland China,33.88202,113.6140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df_sunrise.head(12)

,Province/State,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,...,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20
0,NaN,Thailand,15.0000,101.0000,1577835780,1577922180,1578008580,1578095040,1578181440,1578267840,...,1583191980,1583278320,1583364720,1583451060,1583537400,1583623800,1583710140,1583796480,1583882880,1583969220
1,NaN,Japan,36.0000,138.0000,1577829600,1577916000,1578002400,1578088800,1578175200,1578261600,...,1583183820,1583270100,1583356440,1583442780,1583529060,1583615400,1583701680,1583788020,1583874360,1583960640
2,NaN,Singapore,1.2833,103.8333,1577833680,1577920080,1578006540,1578092940,1578179340,1578265800,...,1583190900,1583277300,1583363700,1583450040,1583536440,1583622840,1583709240,1583795580,1583881980,1583968380
3,NaN,Nepal,28.1667,84.2500,1577841360,1577927760,1578014160,1578100620,1578187020,1578273420,...,1583196420,1583282760,1583369100,1583455440,1583541720,1583628060,1583714400,1583800740,1583887080,1583973420
4,NaN,Malaysia,2.5000,112.5000,1577831700,1577918100,1578004560,1578090960,1578177420,1578263820,...,1583188860,1583275260,1583361660,1583448000,1583534400,1583620800,1583707140,1583793540,1583879940,1583966280
5,British Columbia,Canada,49.2827,-123.1207,1577808540,1577894940,1577981340,1578067740,1578154140,1578240480,...,1583160780,1583247000,1583333280,1583419560,1583505840,1583592120,1583678400,1583764680,1583850960,1583937240
6,New South Wales,Australia,-33.8688,151.2093,1577818140,1577904540,1577991000,1578077460,1578163920,1578250320,...,1583178360,1583264820,1583351280,1583437740,1583524200,1583610600,1583697060,1583783520,1583869980,1583956440
7,Victoria,Australia,-37.8136,144.9631,1577818920,1577905380,1577991840,1578078300,1578164760,1578251220,...,1583179680,1583266140,1583352600,1583439060,1583525520,1583611980,1583698440,1583784900,1583871360,1583957820
8,Queensland,Australia,-28.0167,153.4000,1577818440,1577904900,1577991360,1578077760,1578164220,1578250680,...,1583178120,1583264520,1583350980,1583437380,1583523840,1583610300,1583696700,1583783160,1583869560,1583956020
9,NaN,Cambodia,11.5500,104.9167,1577834460,1577920860,1578007320,1578093720,1578180120,1578266580,...,1583190960,1583277300,1583363700,1583450040,1583536380,1583622780,1583709120,1583795520,1583881860,1583968260
10,NaN,Sri Lanka,7.0000,81.0000,1577839740,1577926140,1578012600,1578099000,1578185400,1578271860,...,1583196540,1583282940,1583369280,1583455680,1583542020,1583628420,1583714820,1583801160,1583887560,1583973900
11,NaN,Germany,51.0000,9.0000,1577863680,1577950080,1578036480,1578122880,1578209280,1578295620,...,1583215440,1583301720,1583388000,1583474280,1583560560,1583646840,1583733060,1583819340,1583905620,1583991900

In [15]:
# writing CSVs of what I've got so far

df_tMax.to_csv('./csv/tMax_US.csv', index=False)

df_tMin.to_csv('./csv/tMin_US.csv', index=False)

df_humidity.to_csv('./csv/humidity_US.csv', index=False)

df_uvIndex.to_csv('./csv/uv_US.csv', index=False)

df_cloud.to_csv('./csv/cloud_US.csv', index=False)

df_precipprob.to_csv('./csv/precip_US.csv', index=False)

df_dewpoint.to_csv('./csv/dew_US.csv', index=False)

df_pressure.to_csv('./csv/pressure_US.csv', index=False)

df_windspeed.to_csv('./csv/wind_US.csv', index=False)

df_ozone.to_csv('./csv/ozone_US.csv', index=False)

df_sunrise.to_csv('./csv/sunrise_US.csv', index=False)

df_sunset.to_csv('./csv/sunset_US.csv', index=False)